body {
	padding-top: 60px;
}
.controls {
	margin-bottom: 5px;
}
.select2-container, .select2-result-label {
	font-size: 10px;
}
.select2-container .select2-choice abbr {
	top: 6px;
	right: 19px;
}
.sidebar-nav .control-label {
	width: 40px;
}
.sidebar-nav .controls {
	margin-left: 50px;
	overflow: hidden;
}
.sidebar-nav input {
	width: 89px;
}
.sidebar-nav select, .sidebar-nav .select2-container {
	width: 126px;
}
.sidebar-nav .form-actions {
	padding-left: 0;
	text-align: right;
	padding: 0;
	padding-top: 20px;
	margin: 0;
}
.sidebar-nav form {
	margin: 0;
}
#filter-btn {
	width: 91px;
}
legend {
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
}
#calendar {
	margin-top: 10px;
}
.navbar p {
	margin: 10px 0;
}
table input[type="checkbox"] {
	margin: 0;
	margin-top: -1px;
	margin-left: 2px;
}
.ngViewport {
	height: auto !important;
	overflow: hidden;
}
.ngGrid {
	border: 1px solid #D4D4D4;
	width: 100%;
}
.selected {
	background-color: #006DCC !important;
	/*background-image: -webkit-linear-gradient(top, #08C, #04C);*/
}
.selected .ngCell {
	border-right-color: #006DCC !important;
	border-left-color: #006DCC !important;
}
.ngFooterPanel {
	display: none;
}
.ngHeaderButton {
	z-index: 2;
}
.navbar {
	text-transform: uppercase;
}
.navbar .brand {
	font-size: inherit;
	font-weight: bold;
	color: #4D4D4D;
	border-right: 1px solid #D4D4D4;
}
.well {
	border-radius: 0;
	box-shadow: none;
}
.no-bg {
	background: none;
	border: none;
}
.modal .navbar {
	padding: 0 19px;
}
.sRoom span {
	display: inline !important;
}
.srCat {
	font-weight: bold;
}
.srDetails {
	font-style: italic;
	color: #8b8b8b;
}
.sidebar-nav .controls-block {
	display: block;
	clear: both;
	margin-left: 0 !important;
}
.sidebar-nav .controls-block select, .sidebar-nav .controls-block .select2-container {
	width: 176px;
}
.sidebar-nav .block-label {
	display: none;
}
.dn {
	display: none;
}
.select2-result-label {
	line-height: 1.4em;
}
.ngCell {
	font-size: 11px;
}

#addModal select, #addModal .select2-container {
	width: 100%;
}