	<div class="well">
	  <legend>New Allocation</legend>
	  <form name="addAllocForm" class="form-horizontal">
		  <div class="control-group">
			<label class="control-label {{filterForm.viewFrom.$valid}}" for="view-from">From</label>
			<div class="controls">
			  <div class="input-append">
				<input id="view-from" name="viewFrom" type="text" ng-model="dateFrom" ui-date>
				<span class="add-on"><i class="icon-calendar"></i></span>
			  </div>
			</div>
			<label class="control-label" for="view-to">To</label>
			<div class="controls">
			  <div class="input-append">
				<input id="view-to" type="text" ng-model="dateTo" ui-date>
				<span class="add-on"><i class="icon-calendar"></i></span>
			  </div>
			</div>
			<label class="control-label" for="view-to">Hotel</label>
			<div class="controls" ng-controller="HotelsCtrl">
				<select id="view-hotel"  ui-select2>
					<option ng-repeat="hotel in hotels" value="{{hotel.id}}">{{hotel.name}}</option>
				</select>
			</div>
		  </div>
	  </form>
	</div>
	<div class="navbar no-bg pull-right">
		<button class="btn btn-primary" title="Add a new room allocation"><i class="icon-plus icon-white"></i> ADD</button>
		<a class="btn" data-dismiss="modal">Cancel</a>
	</div>