<div class="span3">
	<div class="well sidebar-nav">
	  <legend>Filter</legend>
	  <form name="filterForm" class="form-horizontal">
		  <div class="control-group">
			<label class="control-label {{filterForm.viewFrom.$valid}}" for="view-from">From</label>
			<div class="controls">
			  <div class="input-append">
				<input id="view-from" name="viewFrom" type="text" ng-model="dateFrom" ui-date>
				<span class="add-on"><i class="icon-calendar"></i></span>
			  </div>
			</div>
			<label class="control-label" for="view-to">To</label>
			<div class="controls">
			  <div class="input-append">
				<input id="view-to" type="text" ng-model="dateTo" ui-date>
				<span class="add-on"><i class="icon-calendar"></i></span>
			  </div>
			</div>
			<hotelrooms />
		  </div>
		  <div class="form-actions">
			<div class="btn-group">
				<button id="filter-btn" class="btn btn-primary" title="Filter View"><i class="icon-search icon-white"></i> Filter</button>
				<button class="btn" title="Clear Filtering" ui-jq="tooltip"><i class="icon-remove-sign"></i></button>
			</div>
		  </div>
	  </form>
	</div>
</div>

<div class="span8">
	<legend>Manage Allocations</legend>
	
	<div>
		<p><i class="icon-search"></i> Viewing from {{dateFrom | date: 'mediumDate'}} to {{dateTo | date: 'mediumDate'}}</p>
	</div>

	<!--<tabs>
	<pane title="foo">foo</pane>
	<pane title="bar">bar</pane>
	</tabs>-->
	<div ng-controller="RoomAllocsCtrl"> <!--class="table table-hover table-bordered table-condensed table-striped"-->
		<div ui-modal class="fade" ng-model="modalAdd" id="myModal">
			<div ng-include src="'partials/add.html'"></div>
		</div>
		<div ng-grid="gridOptions"></div>
	
		<div class="navbar no-bg pull-right">
			<button class="btn" title="Delete Selected" ui-jq="tooltip" disabled><i class="icon-remove"></i></button>
			<a class="btn" ng-click="modalAdd=true" title="Add a New Allot." ui-jq="tooltip"><i class="icon-plus"></i></a>
			<!--<button class="btn btn-primary" title="Save Changes" disabled>Save Changes</button>-->
		</div>
	</div>
</div>