<div >
	<legend ng-show="action=='actions'">Manage Actions</legend>
	<legend ng-show="action=='conditions'">Manage Conditions</legend>
	<div> 
		<div ng-show="action=='actions'" 
			id="allot-grid" 
			class="gridStyle" 
			ng-grid="gridOptions">
		</div>
		<div ng-hide="action=='actions'" 
			id="allot-conditions-grid" 
			class="gridStyle" 
			ng-grid="allotConditionsOptions">
		</div>
		
		<div class="navbar no-bg pull-right">
			<button class="btn" ng-click="editSelected()" title="Edit Selected" ng-disabled="selectedAlloc.length !=1"><i class="icon-pencil"></i></button>
			<button class="btn" ng-click="deleteSelected()" title="Delete Selected" ng-disabled="!selectedAlloc.length"><i class="icon-remove"></i></button>
			<a class="btn" ng-click="add()" title="Add a New Allot."><i class="icon-plus"></i></a>
		</div>
		<div id="debug-console">
			{{selectedAlloc}}
		</div>
	</div>
</div>