		<div class="span3">
			<div class="well sidebar-nav">
			  <legend>Filter</legend>
			  <form name="filterForm" class="form-horizontal">
				  <div class="control-group">
					<label class="control-label {{filterForm.viewFrom.$valid}}" for="view-from">From</label>
					<div class="controls">
					  <div class="input-append">
						<input id="view-from" name="viewFrom" type="text" ng-model="dateFrom" required ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/" ui-date>
						<span class="add-on"><i class="icon-calendar"></i></span>
					  </div>
					</div>
					<label class="control-label" for="view-to">To</label>
					<div class="controls">
					  <div class="input-append">
						<input id="view-to" type="text" ng-model="dateTo" ui-date>
						<span class="add-on"><i class="icon-calendar"></i></span>
					  </div>
					</div>
					<hotelrooms id="hotel-room" hotel-model="filter.idHotel" room-model="filter.idRoom"/>
				  </div>
				  <div class="form-actions">
				  	<div class="btn-group">
						<button id="filter-btn" class="btn btn-primary"><i class="icon-search icon-white"></i> Filter</button>
						<button class="btn"><i class="icon-remove-sign"></i></button>
				  	</div>
				  </div>
			  </form>
			</div>
		</div>
		
		<!--<div class="span8">-->
			<!--<legend>Calendar</legend>-->
			<!--<div class="navbar">
				<div class="navbar-inner">
					<span>View from {{dateFrom | date: 'mediumDate'}} to {{dateTo | date: 'mediumDate'}}</span>
					<div class="btn-group">{}
						<button class="btn"><i class="icon-zoom-in"></i></button>
						<button class="btn"><i class="icon-zoom-out"></i></button>
					</div>
				</div>
			</div>-->
			<!--<tabs>
			<pane title="foo">foo</pane>
			<pane title="bar">bar</pane>
			</tabs>-->
			<div id="calendar" ng-controller="CalendarCtrl">
				<div ui-calendar="{height: 450,editable: true}" class="span8 calendar" ng-model="eventsSource"></div>
			</div>
		<!--</div>-->